                                       :root {
                                          --main-color: #FF9800
                                      }
                                      
                                      body {
                                          font-family: 'Open Sans', sans-serif;
                                      }
                                      
                                      .container {
                                          /* width: 1170px; */
                                          padding-left: 15px;
                                          padding-right: 15px;
                                          margin: auto;
                                      }
                                      /* Start Settings Box */
                                      
                                      .settings-box {
                                          position: fixed;
                                          left: -200px;
                                          top: 0;
                                          background-color: #FFF;
                                          width: 200px;
                                          z-index: 1000;
                                          min-height: 100vh;
                                          transition: .3s;
                                          border: 1px solid #EEE;
                                      }
                                      
                                      .settings-box.open {
                                          left: 0;
                                      }
                                      
                                      .settings-box .toggle-settings {
                                          position: absolute;
                                          right: -30px;
                                          top: 100px;
                                          background-color: #FFF;
                                          text-align: center;
                                          cursor: pointer;
                                      }
                                      
                                      .settings-box .toggle-settings .fa-gear {
                                          width: 30px;
                                          padding: 8px 0;
                                      }
                                      
                                      .settings-box .option-box {
                                          padding: 10px;
                                          text-align: center;
                                          background-color: #EEE;
                                          margin: 10px;
                                      }
                                      
                                      .settings-box .option-box h4 {
                                          margin: 0;
                                          color: #666;
                                          font-size: 14px;
                                      }
                                      
                                      .settings-box .option-box .colors-list {
                                          list-style: none;
                                          padding: 0;
                                          text-align: center;
                                      }
                                      
                                      .settings-box .option-box .colors-list li {
                                          width: 20px;
                                          height: 20px;
                                          background-color: #333;
                                          border-radius: 50%;
                                          display: inline-block;
                                          opacity: .5;
                                          cursor: pointer;
                                      }
                                      
                                      .settings-box .option-box .colors-list li.active {
                                          opacity: 1;
                                      }
                                      
                                      .settings-box .option-box .colors-list li:first-child {
                                          background-color: #FF9800;
                                      }
                                      
                                      .settings-box .option-box .colors-list li:nth-child(2) {
                                          background-color: #E91E63
                                      }
                                      
                                      .settings-box .option-box .colors-list li:nth-child(3) {
                                          background-color: #009688;
                                      }
                                      
                                      .settings-box .option-box .colors-list li:nth-child(4) {
                                          background-color: #03A9F4;
                                      }
                                      
                                      .settings-box .option-box .colors-list li:nth-child(5) {
                                          background-color: #4CAF50;
                                      }
                                      /* Start Landing Page  */
                                      
                                      .landing-page {
                                          min-height: 100vh;
                                          background-image: url('../imgs/img2.jpg');
                                          background-size: cover;
                                          position: relative;
                                      }
                                      
                                      .landing-page .overlay {
                                          background-color: rgba(0, 0, 0, .6);
                                          position: absolute;
                                          width: 100%;
                                          height: 100%;
                                          left: 0;
                                          top: 0;
                                          z-index: 1;
                                      }
                                      
                                      .landing-page .container {
                                          position: relative;
                                          z-index: 999;
                                      }
                                      
                                      .header-area {
                                          position: relative;
                                          z-index: 2;
                                          color: #FFF;
                                          display: flex;
                                          padding: 10px;
                                      }
                                      
                                      .header-area .logo {
                                          width: 300px;
                                          padding: 15px;
                                          font-weight: bold;
                                      }
                                      
                                      .header-area .links-container {
                                          width: 100%;
                                          text-align: right;
                                      }
                                      
                                      .header-area .links {
                                          list-style: none;
                                          padding-left: 0;
                                      }
                                      
                                      .header-area .links li {
                                          display: inline-block;
                                          margin-left: 10px;
                                      }
                                      
                                      .header-area .links li a {
                                          color: #FFF;
                                          text-decoration: none;
                                          transition: .3s;
                                      }
                                      
                                      .header-area .links li a:hover,
                                      .header-area .links li a.active {
                                          color: var(--main-color);
                                      }
                                      
                                      .header-area .toggle-menu {
                                          background: none;
                                          border: none;
                                          width: 40px;
                                          cursor: pointer;
                                          margin-top: 15px;
                                          display: none;
                                          position: relative;
                                      }
                                      
                                      .header-area .toggle-menu.menu-active:before {
                                          content: '';
                                          border-width: 10px;
                                          border-style: solid;
                                          border-color: transparent transparent #fff transparent;
                                          position: absolute;
                                          bottom: -15px;
                                          left: 10px;
                                      }
                                      
                                      .header-area .toggle-menu:focus {
                                          outline: none;
                                      }
                                      
                                      .header-area .toggle-menu span {
                                          display: block;
                                          background-color: #FFF;
                                          height: 4px;
                                          margin-bottom: 4px;
                                      }
                                      
                                      .introduction-text {
                                          position: absolute;
                                          left: 50%;
                                          top: 50%;
                                          transform: translate(-50%, -50%);
                                          z-index: 2;
                                          color: #FFF;
                                          text-align: center;
                                          width: 95%;
                                      }
                                      
                                      .introduction-text h1 {
                                          font-size: 34px;
                                          margin: 0 0 12px;
                                      }
                                      
                                      @media (max-width: 575px) {
                                          .introduction-text h1 {
                                              font-size: 26px;
                                          }
                                      }
                                      
                                      .introduction-text h1 span {
                                          color: var(--main-color);
                                      }
                                      
                                      .introduction-text p {
                                          line-height: 1.6;
                                          font-size: 20px;
                                          margin: 0;
                                      }
                                      
                                      @media (max-width: 991px) {
                                          .header-area .links {
                                              display: none;
                                          }
                                          .header-area .links.open {
                                              background-color: #FFF;
                                              padding: 10px;
                                              display: block;
                                              position: absolute;
                                              left: 0;
                                              top: 50px;
                                              width: 100%;
                                              border-radius: 4px;
                                              text-align: left;
                                          }
                                          .header-area .links.open li {
                                              display: block;
                                              margin: 10px;
                                          }
                                          .header-area .links.open li a {
                                              color: var(--main-color);
                                              font-weight: bold;
                                          }
                                          .header-area .toggle-menu {
                                              display: inline-block;
                                          }
                                      }
                                      /* End Landing Page */